<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    
    <title>Survey Complete</title>
</head>

<body>
    <p><b>Thanks for completing the survey!!!</b></p>
    <p><b>Intelligent Assitant helped you with <%= iaChoices %></b></p>
    <p>
        <a href="/landing">Click</a> to go back to homepage...
    </p>
</body>

</html>